* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
}

canvas#playground {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border: 1px solid;
}

button#ready-btn, button#quit-btn {
  display: none;
}

p#prompt {
  word-break: break-all;
}
