* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
        "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
}

button#ready-btn, button#quit-btn {
    display: none;
}

p#prompt {
    word-break: break-all;
}
