* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  background-color: black;
}

canvas#playground {
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

button#quit-btn {
  display: none;
  position: fixed;
  top: 3vh;
  right: 3vw;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

button#quit-btn:hover {
  font-size: 20px;
}

div#ctrl {
  display: flex;
  display: -webkit-flex;
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button#main-btn {
  width: 100px;
  height: 100px;
  margin: 0 0 20px 0;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #26A69A;
  font-size: 20px;
}

button#main-btn:active {
  background-color: #009688;
}

button#main-btn[disabled] {
  background-color: #424242;
}

p#info {
  margin: 0;
  word-break: break-all;
  font-size: 15px;
}

p.light {
  color: white;
}

p.dark {
  color: black;
}
