- var app_name = 'EatMe'

doctype html
html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title #{app_name}
  link(rel='stylesheet', href='/assets/css/lib.css')
  link(rel='stylesheet', href='/assets/css/index.css')
  script(src='/assets/js/lib.js')
  script(src='/assets/js/index.js')
body
  nav#nav-main
    button#btn-quit(title='QUIT', type='button', data-toggle='tooltip', data-placement='bottom')
    button#btn-help(title='HELP', type='button', data-toggle='tooltip', data-placement='right')

  div#div-playground
    canvas(width='0', height='0')
    p#p-time

  div#div-ctrl
    button#btn-main(class='start-bg', type='button')
    p#p-info

  //- Help Modal
  div#modal-help(class='modal fade', tabindex='-1', role='dialog', aria-labelledby="modal-help-label")
    div(class='modal-dialog modal-lg', role='document')
      div.modal-content
        div.modal-header
          button(type='button', class='close', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h3#modal-help-label(class='modal-title') About #{app_name}
        div.modal-body
          include ./layout/help.jade
