<!DOCTYPE html>
html(lang='en')
head
  meta(charset='UTF-8')
  title EatMe
  link(rel='stylesheet', href='/assets/css/index.css')
  script(src='/assets/js/lib.js')
  script(src='/assets/js/index.js')
body
  div
    button#quit-btn(type='button')
  div#playground
    canvas(width='0', height='0')
    p#time
  div#ctrl
    button#main-btn(class='light-txt start-bg', type='button')
    p#info(class='dark-txt')
