<!DOCTYPE html>
html(lang='en')
head
  meta(charset='UTF-8')
  title EatMe
  link(rel='stylesheet', href='/assets/css/index.css')
  script(src='/assets/js/lib.js')
  script(src='/assets/js/index.js')
body
  button#btn-quit(title='Quit', type='button')
  button#btn-help(title='Help', type='button')
  div#div-playground
    canvas(width='0', height='0')
    p#p-time
  div#div-ctrl
    button#btn-main(class='light-txt start-bg', type='button')
    p#p-info(class='dark-txt')
